body {
	font-family: 'helvetica';
	padding: 0;
	margin: 0;
	color: #ffffff;
}
.complete {
	background-color: red;
}

#body {
	padding: 10px;
}

#wrapper {
	width: 400px;
	border: 5px solid #6dff99;
	margin: 0 auto;
	padding: 10px;
	background-color: #a9a9a9;
}

h1 {
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	/*width: 360px;*/
	/*border: 1px solid black;*/
}

.fa {
	float: right;
	margin: 2px;

}

li {
	width: 385px;
	margin: 5px 10px 5px 0px;
	/*margin: 0 auto;*/
	padding: 5px;
	background-color: #6dff99;
	border: 3px solid #ffffff;
	font-size: 22px;
	min-height: 25px;
}

.text {
	display: inline;

}

input[type=text] {
	padding: 3px;
	font-size: 22px;
}

#newInput {
	width: 291px;
	color: #a1a1a1;
	border: 3px solid #6dff99;
	outline: 3px solid #ffffff;
	margin-left: 3px;
	margin-top: 3px;
}

input[type=submit] {
	padding: 3px;
	font-size: 22px;
	background-color: #ffffff;
	border: 3px solid #6dff99;
	color: #a1a1a1;
	outline: 3px solid #ffffff;
	margin-left: 7px;

}